.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}

.main h3 {
  margin-bottom: 20px;
}

.description {
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
  justify-content: baseline;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  height: 100%;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.header_position {
  top: 20%;
  left: 50%;
}
.animation {
  width: 50vw;
  height: 70vh;
  margin: 0 auto;
}

h1.intro,
h2.intro {
  font-size: 4rem;
  font-family: var(--font-mono);
  font-weight: 400;
}

nav ul.inline {
  background: var(--color--vivid-red-hex);
  width: 100%;
  padding: 1rem;
  text-align: center;
}
nav ul.inline li {
  display: inline;
  padding: 20px;
  text-align: center;
}
nav ul.inline li a {
  color: rgb(var(--callout-rgb));
  text-transform: uppercase;
  font-weight: normal;
  font-family: var(--font-mono);
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .header_position {
    top: 10%;
    left: 50%;
    z-index: 999;
  }
  .animation {
    width: 100vw;
    height: 50vh;
    margin: 0 auto;
  }
  h1.intro,
  h2.intro {
    font-size: 2rem;
  }
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }
  
  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .header_position {
    top: 10%;
    left: 50%;
    z-index: 999;
  }
  .animation {
    width: 100vw;
    height: 50vh;
    margin: 0 auto;
  }
  h1.intro,
  h2.intro {
    font-size: 3rem;
  }
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
